In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('FinalDatabase1200to1400.csv')

In [6]:
df.head()

,Problem,Contest,Index,Tags,solvedCount
0,Decreasing String,1886,C,"implementation, strings",7693
1,Hard Design,1884,E,"greedy, implementation, math",123
2,Perfect Square,1881,C,"brute force, implementation",12104
3,Interactive Game with Coloring,1879,E,"brute force, constructive algorithms, dfs and ...",989
4,wxhtzdy ORO Tree,1878,G,"binary search, bitmasks, brute force, data str...",841

In [7]:
df.shape[0]

2498

In [14]:
len(df['Contest'].unique())

1270

In [15]:
df = df.iloc[0:2500]

In [16]:
df.shape

(2498, 5)

In [7]:
df['Index'].unique()

array(['C', 'E', 'G', 'A', 'D', 'F', 'B', 'B2', 'B1', 'K', 'E2', 'H',
       'E1', 'D2', 'D1', 'G2', 'G1', 'F1', 'A2', 'A1', 'F2', 'I', 'L',
       'C2', 'O', 'J', 'N', 'M', 'H2', 'C1', 'D3', 'F3'], dtype=object)

In [8]:
_dict = {
    'A1': 'A',
    'A2': 'A',
    'B1': 'B',
    'B2': 'B',
    'C1': 'C',
    'C2': 'C',
    'D1': 'D',
    'D2': 'D',
    'D3': 'D',
    'E1': 'E',
    'E2': 'E',
    'F1': 'F',
    'F2': 'F',
    'G1': 'G',
    'G2': 'G',
    'H2': 'H',
    'F3': 'F'
}

df['Index'] = df['Index'].replace(_dict)

In [9]:
df['Index'].unique()

array(['C', 'E', 'G', 'A', 'D', 'F', 'B', 'K', 'H', 'I', 'L', 'O', 'J',
       'N', 'M'], dtype=object)

In [10]:
df['Index'] = df['Index'].astype('category')
df['Index_New'] = df['Index'].cat.codes

In [11]:
count = 0
for index,row in df.iterrows():
    if 'implementation' in row['Tags']:
        count+=1
print(count)

2498

In [12]:
_List = ['greedy',
         'math',
         'brute force',
         'constructive algorithms',
         'data structure',
         'dp',
         'string',
         'sorting',
         'binary search',
         'dfs',
         'two pointers',
         'graph',
         'special',
         'combinatorics',
         'number theory',
         'tree']

In [13]:
for item in _List:
    df[item] = 0
    for index,row in df.iterrows():
        if item in row['Tags']:
            df.loc[index, item] = 1

df.head()

,Problem,Contest,Index,Tags,solvedCount,Index_New,greedy,math,brute force,constructive algorithms,...,string,sorting,binary search,dfs,two pointers,graph,special,combinatorics,number theory,tree
0,Decreasing String,1886,C,"implementation, strings",7693,2,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Hard Design,1884,E,"greedy, implementation, math",123,4,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Perfect Square,1881,C,"brute force, implementation",12104,2,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Interactive Game with Coloring,1879,E,"brute force, constructive algorithms, dfs and ...",989,4,0,0,1,1,...,0,0,0,1,0,1,0,0,0,1
4,wxhtzdy ORO Tree,1878,G,"binary search, bitmasks, brute force, data str...",841,6,0,0,1,0,...,0,0,1,1,0,0,0,0,0,1

In [14]:
df = df.drop(labels='Tags', axis=1, inplace=False)
df = df.drop(labels='Index', axis=1, inplace=False)
df = df.drop(labels='Problem', axis=1, inplace=False)
df = df.drop(labels='Contest', axis=1, inplace=False)

In [15]:
df.tail()

,solvedCount,Index_New,greedy,math,brute force,constructive algorithms,data structure,dp,string,sorting,binary search,dfs,two pointers,graph,special,combinatorics,number theory,tree
2494,69293,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2495,6498,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2496,22658,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2497,20402,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2498,11862,2,1,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc = StandardScaler()

In [18]:
df['solvedCount'] = sc.fit_transform(df[['solvedCount']])

In [19]:
df.head()

,solvedCount,Index_New,greedy,math,brute force,constructive algorithms,data structure,dp,string,sorting,binary search,dfs,two pointers,graph,special,combinatorics,number theory,tree
0,-0.206581,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,-0.619707,4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0.034145,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,-0.572446,4,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0,1
4,-0.580523,6,0,0,1,0,1,0,0,0,1,1,0,0,0,0,0,1

In [20]:
df.tail()

,solvedCount,Index_New,greedy,math,brute force,constructive algorithms,data structure,dp,string,sorting,binary search,dfs,two pointers,graph,special,combinatorics,number theory,tree
2494,3.155181,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2495,-0.271797,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2496,0.610119,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2497,0.487000,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2498,0.020938,2,1,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0

In [21]:
df = df.transpose()

In [22]:
corr_df = df.corr()
corr_df[2498].sort_values(ascending=False).head(10)

2498    1.000000
480     0.921212
1880    0.917387
578     0.915469
664     0.904422
1413    0.902135
868     0.898373
602     0.874980
475     0.872314
458     0.843909
Name: 2498, dtype: float64