In [72]:
import pandas as pd

In [73]:
file_names = ['outdf{}.csv'.format(i) for i in range(1, 9)] #change

dataframes = []

for file_name in file_names:
    df = pd.read_csv(file_name)
    dataframes.append(df)

merged_data = pd.concat(dataframes, ignore_index=True)

merged_data.to_csv('merged_output.csv', index=False)

print("Merged CSV file saved as 'merged_output.csv'")

Merged CSV file saved as 'merged_output.csv'

In [74]:
import pandas as pd
import numpy as np

In [75]:
df=pd.read_csv('merged_output.csv')

In [76]:
df.head()

         Handle  Max Rating Result
0          Benq        3833     No
1       jiangly        3859    NaN
2     Radewoosh        3752    NaN
3  orzdevinwang        3697     No
4    cnnfls_csy        3691     No

In [77]:
filtered_df = df[df['Result'] == 'Yes']

In [78]:
filtered_df.head()

                 Handle  Max Rating Result
12             ko_osaga        3500    Yes
15               Ormlis        3410    Yes
18               244mhq        3278    Yes
26             gamegame        3339    Yes
38  ChemicalEquilibrium        2975    Yes

In [79]:
filtered_df.shape[0]

560

In [80]:
df2=pd.read_csv('after_2019.csv')

In [81]:
df2.head()

         Handle  Max Rating
0       tourist        3979
1       jiangly        3859
2  orzdevinwang        3697
3     ecnerwala        3668
4  zh0ukangyang        3423

In [82]:
merged_df = filtered_df.merge(df2, on='Handle', how='inner')

In [83]:
merged_df.shape[0]

487

In [84]:
merged_df.head()

                Handle  Max Rating_x Result  Max Rating_y
0               Ormlis          3410    Yes          3410
1               244mhq          3278    Yes          3278
2  ChemicalEquilibrium          2975    Yes          2975
3                  K-H          2962    Yes          2918
4           MagicSpark          2900    Yes          2874

In [85]:
# new_row = pd.Series(data={'Handle': 'agrim07', 'Max rating_x': None, 'Result': 'Yes'})
# merged_df = pd.concat([merged_df, new_row.to_frame().T], ignore_index=True)

In [86]:
merged_df.to_csv('merged_output_after2019.csv', index=False)

In [87]:
# merged_df.tail()

In [88]:
# df_test=pd.read_csv('merged_output_after2019.csv')

In [89]:
# df_test.tail()

In [90]:
# df_test = df_test.iloc[:, :-2]

In [91]:
# df_test.tail()

In [92]:
# df_test.to_csv('merged_output_after2019.csv', index=False)

In [93]:
# df_test=pd.read_csv('merged_output_after2019.csv')

In [94]:
# df_test.head()