In [17]:
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv('combined_qns_solved.csv')

In [19]:
df.head()

,Handle,Max Rating_x,Result,Solved Problems,Problem Count
0,Sahil_32,1535.0,Yes,"{(1742, 'F'), (1873, 'F'), (1736, 'C1'), (1675...",8
1,fightMaster001,1535.0,Yes,"{(1805, 'C'), (1790, 'E'), (1860, 'C'), (1846,...",6
2,pt_dtu,1587.0,Yes,"{(1851, 'D'), (1844, 'C'), (1825, 'C'), (1829,...",15
3,not_just_rr,1623.0,Yes,"{(1400, 'C'), (1761, 'C'), (507, 'B'), (617, '...",198
4,Daoortor,1532.0,Yes,"{(1879, 'C'), (1367, 'C')}",2

In [20]:
df.shape[0]

1338

In [21]:
df= df[df["Problem Count"] != 0]

In [ ]:
df.shape[0]

In [ ]:
pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt
problem_count_counts = df["Problem Count"].value_counts().sort_index()

problem_count_counts.plot(kind='bar', figsize=(10, 6))
plt.title("Variation in Problem Count")
plt.xlabel("Problem Count")
plt.ylabel("Frequency")
plt.show()

In [22]:
import ast
from collections import Counter


df['Solved Problems'] = df['Solved Problems'].apply(lambda x: ast.literal_eval(x))

solved_problems = [problem for problems_list in df['Solved Problems'] for problem in problems_list]

problem_counts = Counter(solved_problems)

top_10_common_problems = problem_counts.most_common(10)

for problem, count in top_10_common_problems:
    print(f"Problem {problem} has been solved {count} times.")

Problem (1879, 'C') has been solved 617 times.
Problem (1870, 'C') has been solved 584 times.
Problem (1864, 'C') has been solved 570 times.
Problem (1867, 'C') has been solved 569 times.
Problem (1860, 'C') has been solved 560 times.
Problem (1862, 'D') has been solved 559 times.
Problem (1857, 'D') has been solved 557 times.
Problem (1844, 'C') has been solved 519 times.
Problem (1858, 'B') has been solved 516 times.
Problem (1845, 'C') has been solved 509 times.