In [1]:
import pandas as pd
import numpy as np

df1=pd.read_csv('codeforces_problems2.csv')
df2=pd.read_csv('problem_list.csv')

In [4]:
df1.head()

,Problem,Contest,Index,Tags
0,Decreasing String,1886,C,"implementation, strings"
1,Hard Design,1884,E,"greedy, implementation, math"
2,Perfect Square,1881,C,"brute force, implementation"
3,Interactive Game with Coloring,1879,E,"brute force, constructive algorithms, dfs and ..."
4,wxhtzdy ORO Tree,1878,G,"binary search, bitmasks, brute force, data str..."

In [5]:
df2.head()

   contestId index  solvedCount
0       1887     F           56
1       1887     E          128
2       1887     D          443
3       1887     C          899
4       1887     B         1612

In [6]:
df1.coloumns=['Problem','Contest','Index','Tags']
df2.columns = ['Contest', 'Index','solvedCount']

/tmp/ipykernel_86735/1526626826.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df1.coloumns=['Problem','Contest','Index','Tags']

In [7]:
df1.head()

,Problem,Contest,Index,Tags
0,Decreasing String,1886,C,"implementation, strings"
1,Hard Design,1884,E,"greedy, implementation, math"
2,Perfect Square,1881,C,"brute force, implementation"
3,Interactive Game with Coloring,1879,E,"brute force, constructive algorithms, dfs and ..."
4,wxhtzdy ORO Tree,1878,G,"binary search, bitmasks, brute force, data str..."

In [8]:
df2.head()

   Contest Index  solvedCount
0     1887     F           56
1     1887     E          128
2     1887     D          443
3     1887     C          899
4     1887     B         1612

In [9]:
merged_df = df1.merge(df2, on=['Contest', 'Index'], how='inner')

In [10]:
merged_df.head()

,Problem,Contest,Index,Tags,solvedCount
0,Decreasing String,1886,C,"implementation, strings",7693
1,Hard Design,1884,E,"greedy, implementation, math",123
2,Perfect Square,1881,C,"brute force, implementation",12104
3,Interactive Game with Coloring,1879,E,"brute force, constructive algorithms, dfs and ...",989
4,wxhtzdy ORO Tree,1878,G,"binary search, bitmasks, brute force, data str...",841

In [11]:
merged_df.shape[0]

2498

In [12]:
merged_df.to_csv('FinalDatabase1200to1400.csv',index=False)