In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('merged_output_after2019.csv')

In [3]:
df.tail()

             Handle  Max Rating_x Result
1434           Z_ZZ        1478.0    Yes
1435          iamsk        1403.0    Yes
1436   catastros_64        1418.0    Yes
1437  parametername        1482.0    Yes
1438        agrim07        1657.0    Yes

In [4]:
df2=df.head(700)

In [5]:
df2.head()

         Handle  Max Rating_x Result
0  FastFreeTask        2927.0    Yes
1         xukai        2821.0    Yes
2   tokusakurai        2898.0    Yes
3     YocyCraft        2739.0    Yes
4         elycx        2880.0    Yes

In [6]:
df2.shape[0]

700

In [7]:
df2.to_csv('qncolncsv_first700.csv',index=False)

In [4]:
new_df = df.tail(738)

In [5]:
new_df.tail()

             Handle  Max Rating_x Result
1434           Z_ZZ        1478.0    Yes
1435          iamsk        1403.0    Yes
1436   catastros_64        1418.0    Yes
1437  parametername        1482.0    Yes
1438        agrim07        1657.0    Yes

In [6]:
new_df.shape[0]

738

In [7]:
new_df.to_csv('qncolncsv_last738.csv',index=False)