In [1]:
import pandas as pd 
import numpy as np

In [5]:
original_df=pd.read_csv('qncolncsv_last738.csv')

In [6]:
original_df.head()

           Handle  Max Rating_x Result
0        Sahil_32        1535.0    Yes
1  fightMaster001        1535.0    Yes
2          pt_dtu        1587.0    Yes
3     not_just_rr        1623.0    Yes
4        Daoortor        1532.0    Yes

In [7]:
original_df.shape[0]

738

In [8]:
chunk_size = 100
dataframes = []

for i in range(0, len(original_df), chunk_size):
    chunk = original_df[i:i + chunk_size]
    dataframes.append(chunk)

# Save the chunks as separate CSV files
for i, chunk_df in enumerate(dataframes):
    if i < len(dataframes) - 1:
        chunk_df.to_csv(f'chunk_{i + 1}.csv', index=False)
    else:
        # The last chunk with the remaining entries
        chunk_df.to_csv('last_chunk.csv', index=False)