In [1]:
import pandas as pd
import numpy as np

df1=pd.read_csv('codeforces_problems2.csv')
df2=pd.read_csv('problem_list.csv')

In [2]:
df1.head()

,Problem,Contest,Index,Tags
0,Make it Alternating,1879,C,"combinatorics, dp, greedy"
1,ABBC or BACB,1873,G,"constructive algorithms, greedy"
2,Money Trees,1873,F,"binary search, greedy, math, two pointers"
3,Data Structures Fan,1872,E,"binary search, bitmasks, data structures, dp"
4,Colorful Table,1870,C,"binary search, data structures, dp, implementa..."

In [3]:
df2.head()

   contestId index  solvedCount
0       1887     F           56
1       1887     E          128
2       1887     D          443
3       1887     C          899
4       1887     B         1612

In [4]:
df1.columns=['Problem','Contest','Index','Tags']
df2.columns = ['Contest', 'Index','solvedCount']

In [5]:
df1.head()

,Problem,Contest,Index,Tags
0,Make it Alternating,1879,C,"combinatorics, dp, greedy"
1,ABBC or BACB,1873,G,"constructive algorithms, greedy"
2,Money Trees,1873,F,"binary search, greedy, math, two pointers"
3,Data Structures Fan,1872,E,"binary search, bitmasks, data structures, dp"
4,Colorful Table,1870,C,"binary search, data structures, dp, implementa..."

In [6]:
df2.head()

   Contest Index  solvedCount
0     1887     F           56
1     1887     E          128
2     1887     D          443
3     1887     C          899
4     1887     B         1612

In [7]:
merged_df = df1.merge(df2, on=['Contest', 'Index'], how='inner')

In [8]:
merged_df.head()

,Problem,Contest,Index,Tags,solvedCount
0,Make it Alternating,1879,C,"combinatorics, dp, greedy",11944
1,ABBC or BACB,1873,G,"constructive algorithms, greedy",8805
2,Money Trees,1873,F,"binary search, greedy, math, two pointers",10644
3,Data Structures Fan,1872,E,"binary search, bitmasks, data structures, dp",9711
4,Colorful Table,1870,C,"binary search, data structures, dp, implementa...",9117

In [9]:
merged_df.shape[0]

1136

In [10]:
merged_df.to_csv('FinalDatabase1200to1400.csv',index=False)