In [1]:
import pandas as pd

In [2]:
file_names = ['outdf{}.csv'.format(i) for i in range(1, 15)] #change

dataframes = []

for file_name in file_names:
    df = pd.read_csv(file_name)
    dataframes.append(df)

merged_data = pd.concat(dataframes, ignore_index=True)

merged_data.to_csv('merged_output.csv', index=False)

print("Merged CSV file saved as 'merged_output.csv'")

Merged CSV file saved as 'merged_output.csv'

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('merged_output.csv')

In [5]:
df.head()

         Handle  Max Rating Result
0          Benq        3833     No
1       jiangly        3859    NaN
2     Radewoosh        3752    NaN
3  orzdevinwang        3697     No
4    cnnfls_csy        3691    NaN

In [6]:
filtered_df = df[df['Result'] == 'Yes']

In [7]:
filtered_df.head()

                 Handle  Max Rating Result
29             998batrr        3020    Yes
33               youbot        3001    Yes
38  ChemicalEquilibrium        2975    Yes
58      alireza_kaviani        2898    Yes
59         FastFreeTask        2927    Yes

In [8]:
filtered_df.shape[0]

1040

In [9]:
df2=pd.read_csv('after_2019.csv')

In [10]:
df2.head()

         Handle  Max Rating
0       tourist        3979
1       jiangly        3859
2  orzdevinwang        3697
3     ecnerwala        3668
4  zh0ukangyang        3423

In [11]:
merged_df = filtered_df.merge(df2, on='Handle', how='inner')

In [12]:
merged_df.shape[0]

945

In [13]:
merged_df.head()

                Handle  Max Rating_x Result  Max Rating_y
0             998batrr          3020    Yes          3020
1               youbot          3001    Yes          2859
2  ChemicalEquilibrium          2975    Yes          2975
3         FastFreeTask          2927    Yes          2927
4                xukai          2827    Yes          2821

In [14]:
# new_row = pd.Series(data={'Handle': 'agrim07', 'Max rating_x': None, 'Result': 'Yes'})
# merged_df = pd.concat([merged_df, new_row.to_frame().T], ignore_index=True)

In [15]:
merged_df.to_csv('merged_output_after2019.csv', index=False)

In [16]:
# merged_df.tail()

In [17]:
# df_test=pd.read_csv('merged_output_after2019.csv')

In [18]:
# df_test.tail()

In [19]:
# df_test = df_test.iloc[:, :-2]

In [20]:
# df_test.tail()

In [21]:
# df_test.to_csv('merged_output_after2019.csv', index=False)