In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('combined_qns_solved.csv')

In [3]:
df.head()

,Handle,Max Rating_x,Result,Max Rating_y,Solved Problems,Problem Count
0,998batrr,3020,Yes,3020,"{(1765, 'K'), (269, 'B'), (1326, 'D1'), (474, ...",129
1,youbot,3001,Yes,2859,"{(1498, 'C'), (1475, 'E'), (1503, 'A'), (1505,...",97
2,ChemicalEquilibrium,2975,Yes,2975,"{(1774, 'D'), (1817, 'A'), (1864, 'D'), (1771,...",12
3,FastFreeTask,2927,Yes,2927,"{(1644, 'D'), (1633, 'D'), (575, 'D'), (1753, ...",17
4,xukai,2827,Yes,2821,"{(1810, 'D'), (1835, 'A'), (1804, 'C'), (521, ...",26

In [4]:
df.shape[0]

945

In [5]:
df= df[df["Problem Count"] != 0]

In [6]:
df.shape[0]

944

In [7]:
import ast
from collections import Counter


df['Solved Problems'] = df['Solved Problems'].apply(lambda x: ast.literal_eval(x))

solved_problems = [problem for problems_list in df['Solved Problems'] for problem in problems_list]

problem_counts = Counter(solved_problems)

top_10_common_problems = problem_counts.most_common(10)

for problem, count in top_10_common_problems:
    print(f"Problem {problem} has been solved {count} times.")

Problem (1861, 'C') has been solved 401 times.
Problem (1856, 'C') has been solved 387 times.
Problem (1842, 'C') has been solved 385 times.
Problem (1858, 'B') has been solved 383 times.
Problem (1849, 'C') has been solved 371 times.
Problem (1879, 'D') has been solved 368 times.
Problem (1872, 'E') has been solved 362 times.
Problem (1864, 'D') has been solved 359 times.
Problem (1849, 'D') has been solved 352 times.
Problem (1862, 'E') has been solved 339 times.